<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}Justin Woodring</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <div class="nav container">
      <nav>
        <h1 class="logo"><a href="{{config.base_url}}">Justin Woodring</a></h1>
        <ul class="links">
          <li><a href="{{ config.base_url }}">Home</a></li>
          <li><a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a></li>
          <li>
            <a href="{{ get_url(path='@/research/_index.md') }}">Research</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="content container">
      <main>
        <div class="secondary">
          <img
            src="{{ get_url(path='/assets/hero-main.jpeg') }}"
            alt="Justin Woodring"
          />
          <h2 class="author">Justin Woodring</h2>
          <h4>PhD student at LSU</h4>
          <ul class="links">
            <li>
              <a
                norel=""
                noopener=""
                href="https://www.linkedin.com/in/justin-woodring/"
                ><ion-icon name="logo-linkedin"></ion-icon
              ></a>
            </li>
            <li>
              <a norel="" noopener="" href="https://github.com/JustinWoodring"
                ><ion-icon name="logo-github"></ion-icon
              ></a>
            </li>
            <li>
              <a
                norel=""
                noopener=""
                href="https://www.youtube.com/@justinwoodring"
                ><ion-icon name="logo-youtube"></ion-icon
              ></a>
            </li>
            <li>
              <a norel="" noopener="" href="mailto:jwoodrg@gmail.com"
                ><ion-icon name="mail-sharp"></ion-icon
              ></a>
            </li>
          </ul>
        </div>
        <div class="primary">
          {% block primary_content %}{% endblock primary_content %}
        </div>
      </main>
    </div>
    <div class="footer container">
      <footer>
        Copyright &copy
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
        Justin Woodring. All rights reserved.
      </footer>
    </div>
  </body>
</html>
